body{
    background-color:lightseagreen;
    background-size: cover;
    background-position: center;
    
}
#headSection{
    padding: 1%;
   
    margin:2%;
    color:red;
    text-align: center;
}
#profile b{
    color:red;

}
#profile{
    float:left;
    width: 90%;
    
    padding: 2%;
    background-color: gainsboro;
    background-size: cover;
    margin:3%;
    color:black;
    font-size: 130%;
    vertical-align: top;
}
#profile img{
    float:right;
    position: relative;
    top:20%;
}

#b1{
    float:left;
    background : red;
    color:white;
    cursor: pointer;
}

#b2{
    float:right;
    cursor: pointer;
    background: red;
    color:white;
}
